footer {
	color: #e5e5e5;
  font-family: helvetica;
}

#upperFooter {
	background-color: #7e6768;
	height: 180px;
}

#footerTopText {
	/*margin-left: 0%;*/
	text-align: left;
}

p {
	font-size: 60%;
	line-height: 2%;
	margin-bottom: 1.7rem;
	margin-left: 30px;
	text-align: left;
}

#lowerFooter {
	height: 55px;
	background-color: #3f3334;
}

#lowerFooter > p {
	margin-top: 20px;
	font-size: 90%;
}

#facebookLogo {
	/*margin-left: 80%;*/
	margin-top: 10px;
	height: 35px;
	width: 35px;
}

#twitterLogo {
	margin-left: 2%;
	margin-top: 10px;
	height: 35px;
	width: 35px;
}

#linkedinLogo {
	margin-left: 2%;
	margin-top: 10px;
	height: 35px;
	width: 35px;
}

#instagramLogo {
	margin-left: 2%;
	margin-top: 10px;
	height: 35px;
	width: 35px;
}

.spacer {
	width: 100%;
}

#copyright {
	padding-left: 20px;
	padding-top: 15px;
	font-weight: lighter;
	font-size: .8em;
}

@media (max-width: 750px) {

	#upperFooter {
		height: 200px;
	}

	#copyright {
		padding-left: 5px;
		padding-top: 15px;
		font-weight: lighter;
		font-size: .8em;
	}


	#lowerFooter {
		height: 100px;
	}
}
