

/*-------------- NAVIGATION -------------*/
header {
  height: 70px;
  background-color: #7e6768;
  position: fixed;
  z-index: 9;
  width: 100%;
  /*white-space: nowrap;
  max-width: 99%;*/
}

header > div.container {
  width: 100%;
  margin: 0;
}

header > div.twelve.columns, nav.six.columns {
  height: 100%;
}

nav {
  width: 100%;
  margin: 0;
  padding-right: 50px;
}

#titleWordDiv {
  margin-top: 15px;
  padding-left: 50px;
}

#titleWordDivMobile {
  margin-top: 15px;

}

#titleMobile {
  font-size: 1.2em;
}

nav.six.columns > ul {
  display: flex;
  float: right;
  width: 64%;
  height: 100%;
}

nav.six.columns > ul > li {
  text-transform: lowercase;
}

nav.six.columns > ul > li:first-letter {
  text-transform: uppercase;
}

/*ul {
  height: 100%;
}*/

li, a {
  text-decoration: none;
  list-style: none;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
  margin: 0 0.5rem 0 -0.5rem;
}

li:hover, a:hover {
  color: #cecece;
}

a:-webkit-any-link span.projects-dropdown__name {
  text-decoration: none;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
  /*margin-top: 10px;*/
}


h5 {
  margin-left: 30px;
  color: #e5e5e5;
  font-family: helvetica;
}



.projectsTitle {
  text-decoration: none;
  text-align: center;
  height: 100%;
  /*line-height: 100%;
  white-space: nowrap;*/
  margin: 0;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
  position: relative;
}

#projectsDiv, #aboutDiv {
 background-color: #705c5c;
 box-sizing: border-box;
 border-radius: 2px;
 border-style: solid;
 border-color: #544545;
 border-width: 1px;
 text-align: left;
 position: absolute;
 margin-top: 15px;

 margin-left: -4px;
 margin-right: -10px;
 /*width: 6%;*/
 /*margin-right: 15px;*/
 /*center: 5px;*/

}

/*.burgerClass {
  color: #e5e5e5;
}*/


/*#projectsTitleSpan {
  padding-top: 23px;
  padding-left: 15px;
  padding-right: 15px;

}*/

.aboutTitle {
  text-decoration: none;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left:15px;
  padding-right: 15px;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
}

.projectsTitle:hover, .aboutTitle:hover, .giveTitle:hover {
  background-color:#705c5c;
  border-style: solid;
  border-color: #544545;
  border-width: 1px;
  border-radius: 2px;
}

.giveTitle {
  text-decoration: none;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
}

.active {
  display: block;
   /*text-align: center;*/
  /*box-sizing: border-box;*/
  /*position:absolute;*/
  /*padding-top: 25px;*/
  /*margin-left: 5px;*/
  cursor: pointer;
}

.nonActive {
  display: none;
}

@media (max-width: 750px) {
  /*.column, .columns {
    width: 50%;
  }*/

  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 325px;
  top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e5e5e5;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  /*background: #373a47;*/
  background: #322929;
  opacity:0.8;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #e5e5e5;
}

.spacing {
  line-height: 0.5em;
}

}
