/*-------------- NAVIGATION -------------*/
header {
  height: 70px;
  background-color: #7e6768;
}

header > div.container {
  width: 100%;
  margin: 0;
}

header > div.twelve.columns, nav.six.columns {
  height: 50px;
}

#titleWord {
  margin-top: 15px;
}

nav.six.columns > ul {
  display: flex;
  float: right;
  margin-top: 13px;
  width: 64%;
  height: 50px;
}

nav.six.columns > ul > li {
  text-transform: lowercase;
}

nav.six.columns > ul > li:first-letter {
  text-transform: uppercase;
}

nav.six.columns > ul > li {
  padding-right: 25px;
  padding-left: 25px;
}

li {
  list-style: none;
  margin-top: 10px;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #e5e5e5;
  font-family: helvetica;
  font-weight: lighter;
  /*margin-top: 10px;*/
}

h5 {
  margin-left: 30px;
  color: #e5e5e5;
  font-family: helvetica;
}

.dropdown {
    display: inline-block;
    margin-top: 10px;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

/*.account-dropdown__link__anchor {
  background-color: #705c5c;
}*/

div.dropdown__content {
  background-color: #705c5c;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #544545;
  padding-right: 5px;
  padding-left: -5px;
}

a.dropdown__trigger {
  padding: 25px;
}

a.dropdown__trigger:hover, li:hover {

  background-color: #705c5c;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #544545;
}

div.dropdown.dropdown--active.account.dropdown {
  background-color: #705c5c;
  border-radius: 5px;

}

div.dropdown.dropdown--active.projects.dropdown {
  background-color: #705c5c;
  border-radius: 5px;

}
