/*top spacer*/
#topSpacer {
  height: 70px;
  width: 100%;
}

.background {
  width: 100%;
  height: 44rem;
  padding: 5rem 0;
  text-align: center;
  color: #e5e5e5;
}

.backDrop {
  background-color: #e5e5e5;
}

.background-projects-one {
  background: url('../assets/images/IMG_4573.JPG') no-repeat center center scroll;
}

.background-projects-one > h1 {
  font-size: 6rem;
}

.background-projects-two {
  background: url('../assets/images/IMG_4572.JPG') no-repeat center center scroll;
}

.background-projects-three {
  background: url('../assets/images/africa5.jpg') no-repeat center center scroll;
}

.back {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  transition: opacity 0.5s ease;
}


#titleWordsProjects {
  margin-top: 27em;
  color: #e5e5e5;
}

.section {
  height: 30rem;

}

.h5BlockProjects {
  text-align: center;
  color: black;
}

.pProjects {
  display: inline;
  font-size: 1.8rem;
}

.projectTextBlock {
  text-align: left;
  padding-bottom: 2rem;
}

.imgDiv {
  text-align:center;
  padding-bottom: 4rem;

}

#adjustThisPic {
  width: 65%;
}
